class <%= migration_class_name %> < ActiveRecord::Migration[<%= ActiveRecord::Migration.current_version %>]
  def change
    create_table :sign_in_tokens, id: :uuid  do |t|
      t.references :user, null: false, foreign_key: true, type: :uuid
    end
  end
end
